.osnova{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.osnova a{
    color: rgb(220, 220, 220);
}

header {
    width: 100%;
    background-color: rgb(105, 105, 105);
    height: 150px;
    margin-bottom: 10px;
}

header div{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

header img{
    float:left;
    margin:10px; 
    width:100px; 
    height:100px;
}
.osnova .main{
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
}
.osnova nav{
    background-color: rgb(128, 128, 128);
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.osnova .Spisok{
    background-color: rgb(128, 128, 128);
    margin-bottom: 10px; order: 1;
    padding: 50px;
}
.osnova .Tabli{
    background-color: rgb(128, 128, 128);
    margin-bottom: 10px; order: 3;
}
.osnova .Forma{
    background-color: rgb(128, 128, 128);
    margin-bottom: 10px; order: 2;
}
.ch{
    background-color: rgb(169, 169, 169);
}
.nch{
    background-color: rgb(192, 192, 192);
}
.osnova footer{
    background-color: rgb(128, 128, 128);
    width: 100%;
    display: flex;
    padding-top: 30px;
    height: 50px;
}
@media screen and (min-width: 1000px){
    .osnova header div{
        display: flex;
        max-width: 960px;
        margin-right: auto;
        margin-left: auto;
    }
    header{
        margin-bottom: 30px;
    }
    .osnova header img{
        float: left;
        width: 100px;
        height: 100px;
    }
    .osnova{
        display: flex;
        flex-direction: column;
        align-items: center;  
    }
    .osnova .main{
       width: 960px;
    }
    .osnova nav{
        width: 960px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 30px;
    }
    .osnova .Spisok{
        width: 960px;
        margin-bottom: 30px;
        padding: 0px;
        order: 1;
    }
    .osnova .Tabli{
        width: 960px;
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
        order: 2;
    }
    .osnova .Forma{
        
        width: 960px;
        margin-bottom: 30px;
        order: 3;
    }
    .osnova footer{
        width: 100%;
        height: 100px;
        padding-top: 75px;
    }
}